*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

background:#10131f;

color:white;

font-family:Arial;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}


main{

width:90%;

}


h1{

font-size:45px;

margin-bottom:15px;

}


#board{

width:360px;

height:360px;

background:#22283a;

margin:25px auto;

padding:10px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:10px;

border-radius:15px;

}



.tile{

background:#333b55;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

font-weight:bold;

border-radius:10px;

}



button{

padding:12px 30px;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

}



.back{

position:absolute;

top:25px;

left:25px;

color:white;

text-decoration:none;

}



#message{

color:#00eaff;

margin-top:20px;

}