*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

height:100vh;

background:#10131f;

color:white;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}



main{

width:90%;

max-width:600px;

}



h1{

font-size:45px;

margin-bottom:25px;

}



.stats{

display:flex;

justify-content:space-around;

font-size:22px;

margin-bottom:20px;

}



button{

padding:12px 30px;

border:none;

border-radius:10px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}



#arena{

margin-top:25px;

height:350px;

background:#1c2233;

border-radius:20px;

position:relative;

overflow:hidden;

}



#target{

position:absolute;

font-size:55px;

cursor:pointer;

display:none;

}



.back{

position:absolute;

top:25px;

left:25px;

color:white;

text-decoration:none;

}



#message{

margin-top:20px;

color:#00eaff;

}