*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

background:#10131f;

color:white;

font-family:Arial;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}



main{

width:90%;

max-width:500px;

}



h1{

font-size:45px;

margin-bottom:20px;

}



p{

color:#aaa;

margin-bottom:30px;

}



button{

padding:15px 35px;

border:none;

border-radius:10px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}



#game{

margin-top:35px;

height:220px;

border-radius:20px;

background:#22283a;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

font-weight:bold;

cursor:pointer;

}



.back{

position:absolute;

top:25px;

left:25px;

color:white;

text-decoration:none;

}



#result{

margin-top:25px;

color:#00eaff;

}