*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

overflow:hidden;

background:black;

font-family:Arial;

color:white;

}



#ui{

position:absolute;

top:20px;

width:100%;

text-align:center;

z-index:5;

pointer-events:none;

}



h1{

font-size:40px;

text-shadow:
0 0 20px #00eaff;

}



#message{

color:#00ff99;

}



.back{

position:absolute;

top:25px;

left:25px;

color:white;

z-index:10;

text-decoration:none;

}