*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

background:#10131f;

color:white;

font-family:Arial;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}



main{

width:90%;

}



h1{

font-size:45px;

margin-bottom:15px;

}



canvas{

margin-top:20px;

background:#05070d;

border:3px solid #00eaff;

border-radius:10px;

max-width:100%;

}



.controls{

margin-top:20px;

}



button{

padding:12px 18px;

margin:5px;

font-size:22px;

border:none;

border-radius:10px;

cursor:pointer;

}



.back{

position:absolute;

top:25px;

left:25px;

color:white;

text-decoration:none;

}



#message{

color:#00eaff;

margin-top:20px;

}