*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

min-height:100vh;

background:
radial-gradient(circle,#25205c,#080a12);

font-family:Arial;

color:white;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}



h1{

font-size:45px;

margin-bottom:20px;

text-shadow:
0 0 15px #00eaff;

}



.game{

width:320px;

height:320px;

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

margin:25px auto;

}



.color{

border:none;

border-radius:25px;

cursor:pointer;

opacity:.7;

transition:.2s;

}



.color:hover{

transform:scale(1.05);

}



.red{

background:#ff3366;

box-shadow:
0 0 25px #ff3366;

}



.blue{

background:#008cff;

box-shadow:
0 0 25px #008cff;

}



.green{

background:#00ff99;

box-shadow:
0 0 25px #00ff99;

}



.yellow{

background:#ffe600;

box-shadow:
0 0 25px #ffe600;

}



.active{

opacity:1;

transform:scale(1.1);

}



button#start{

padding:12px 35px;

border:none;

border-radius:15px;

font-size:18px;

cursor:pointer;

}



.back{

position:absolute;

top:25px;

left:25px;

color:white;

text-decoration:none;

}



#message{

margin-top:20px;

color:#00eaff;

}